@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-width: 1170px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
nav li {
  padding: 0 30px;
}
nav li a:hover {
  border-bottom: 2px solid green;
}

.logo {
  width: 300px;
  height: 50px;
}

header {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.section-text {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-text h1 {
  display: block;
  width: 700px;
  height: 150px;
  border: 4px solid white;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: green;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

main {
  width: 100%;
  height: auto;
}
main h1 {
  text-align: center;
  font-size: 50px;
}

.AboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.AboutUs h1 {
  color: green;
}

.AboutUs__rowFirst {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AboutUs__rowSecond {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.AboutUs__block {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutUs__block .circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 5px solid green;
  background: rgb(246, 245, 245);
  color: green;
  font-size: 60px;
}
.AboutUs__block h2 {
  padding-top: 30px;
  text-align: center;
}

.services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services h1 {
  color: green;
}
.services__block-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.services__block {
  width: 420px;
  height: 600px;
  box-shadow: 5px 5px 30px #aaa;
  transition: all 0.2s ease;
  cursor: pointer;
}
.services__block h2 {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__picture {
  width: 100%;
  height: 500px;
  background-size: auto;
  filter: grayscale(1);
  transition: all 0.2s ease;
}
.services__block:hover {
  color: green;
}
.services__block:hover .services__picture {
  filter: grayscale(0);
}

/*# sourceMappingURL=style.css.map */
