@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
nav li {
  padding: 0 30px;
}
nav li a:hover {
  border-bottom: 2px solid green;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.logo {
  width: 300px;
  height: 50px;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.section-text {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-text h1 {
  display: block;
  width: 700px;
  height: 150px;
  border: 4px solid white;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: green;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

main {
  width: 100%;
  height: auto;
}
main h1 {
  text-align: center;
  font-size: 50px;
  width: 400px;
  border-radius: 20px;
  margin: 80px auto 100px auto;
}

.AboutUs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.AboutUs h1 {
  border: 3px solid green;
  color: green;
}

.AboutUs__rowFirst {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.AboutUs__rowSecond {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.AboutUs__block {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutUs__block .circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 5px solid green;
  background: rgb(246, 245, 245);
  color: green;
  font-size: 60px;
}
.AboutUs__block h2 {
  padding-top: 30px;
  text-align: center;
}

.services {
  width: 100%;
  height: auto;
  background-color: rgb(79, 169, 79);
  display: flex;
  flex-direction: column;
}
.services h1 {
  color: white;
  border: 3px solid white;
}
.services__block-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.services__block {
  display: block;
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 50px rgb(57, 120, 57);
  transition: all 0.2s ease;
  cursor: pointer;
  color: black;
}
.services__block h2 {
  height: 80px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__picture {
  width: 100%;
  height: 500px;
  background-size: auto;
  transition: all 0.2s ease;
  object-fit: cover;
}
.services__block:hover {
  color: green;
  transform: scale(1.05);
  outline: 7px solid white;
  outline-offset: 0;
}

.Product {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.Product h1 {
  color: green;
  border: 3px solid green;
}
.Product__block-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.Product__block {
  display: block;
  width: 400px;
  height: 600px;
  box-shadow: 5px 5px 50px #aaa;
  transition: all 0.2s ease;
  cursor: pointer;
  color: black;
}
.Product__block h2 {
  height: 80px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product__picture {
  width: 100%;
  height: 500px;
  background-size: auto;
  transition: all 0.2s ease;
  object-fit: cover;
}
.Product__block:hover {
  color: green;
  transform: scale(1.05);
  outline: 7px solid green;
  outline-offset: 0;
}

.slider-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(79, 169, 79);
}
.slider-section h1 {
  color: white;
  border: 3px solid white;
  margin: 0 auto;
}
.slider-section a {
  font-size: 30px;
}
.slider-section a:hover {
  text-decoration: underline;
}
.slider-section .swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.slider-section .swiper {
  width: 90%;
  height: 300px;
  --swiper-navigation-color: white;
}
.slider-section h2 {
  text-align: center;
  color: white;
  font-size: 50px;
}
.slider-section p {
  text-align: center;
  font-size: 25px;
  color: white;
}

#order-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#order-section h1 {
  border: 3px solid green;
  color: green;
}
#order-section input {
  width: 95%;
  height: 70px;
  border: 2px solid green;
  border-radius: 20px;
  font-size: 25px;
  outline: none;
  text-align: center;
  margin-bottom: 70px;
}
#order-section :focus::-webkit-input-placeholder {
  color: transparent;
}
#order-section :focus::-moz-placeholder {
  color: transparent;
}
#order-section :focus:-moz-placeholder {
  color: transparent;
}
#order-section :focus:-ms-input-placeholder {
  color: transparent;
}
#order-section button {
  width: 300px;
  height: 100px;
  background: white;
  border: 2px solid green;
  font-size: 25px;
  color: green;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 50px;
}
#order-section button:hover {
  background-color: green;
  color: white;
}
#order-section p {
  font-size: 30px;
}
#order-section .order-form {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#order-section .order-form form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
#order-section .order-text {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-section {
  width: 100%;
  height: 100vh;
}
.review-section h1 {
  border: 3px solid green;
  color: green;
  width: 200px;
  border-radius: 20px;
  font-size: 2.5em;
  text-align: center;
  margin: 50px auto;
}
.review-section .nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.review-section .nav a {
  font-size: 25px;
  color: #170542;
}
.review-section .nav a:hover {
  text-decoration: underline;
}
.review-section .form-div {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.review-section form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.review-section input {
  width: 60%;
  height: 70px;
  border: 2px solid green;
  border-radius: 20px;
  font-size: 25px;
  outline: none;
  text-align: center;
  margin-bottom: 70px;
}
.review-section #text-review {
  height: 100px;
}
.review-section :focus::-webkit-input-placeholder {
  color: transparent;
}
.review-section :focus::-moz-placeholder {
  color: transparent;
}
.review-section :focus:-moz-placeholder {
  color: transparent;
}
.review-section :focus:-ms-input-placeholder {
  color: transparent;
}
.review-section button {
  width: 300px;
  height: 100px;
  background: white;
  border: 2px solid green;
  font-size: 25px;
  color: green;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 50px;
}
.review-section button:hover {
  background-color: green;
  color: white;
}

@media (max-width: 1300px) {
  .services__block {
    width: 320px;
    height: 600px;
  }
  .Product__block {
    width: 320px;
    height: 600px;
  }
}
@media (max-width: 1200px) {
  nav {
    flex-direction: column;
    height: 20vh;
  }
  .section-text {
    height: 85vh;
  }
  .AboutUs__block .circle {
    width: 180px;
    height: 180px;
    font-size: 50px;
  }
}
@media (max-width: 1050px) {
  .AboutUs__block .circle {
    width: 150px;
    height: 150px;
    font-size: 45px;
  }
  .services__block {
    width: 270px;
    height: 600px;
  }
  .Product__block {
    width: 270px;
    height: 600px;
  }
  .slider-section h2 {
    font-size: 40px;
  }
  .slider-section p {
    font-size: 22px;
  }
  #order-section {
    flex-direction: column;
  }
  #order-section .order-form {
    width: 100%;
  }
  #order-section .order-text {
    display: none;
  }
}
@media (max-width: 890px) {
  .nav {
    flex-direction: column;
  }
  .nav img {
    padding-top: 20px;
  }
  .nav a {
    padding-top: 30px;
  }
  a {
    font-size: 15px;
  }
  .logo {
    width: 250px;
    height: 40px;
  }
  .section-text h1 {
    width: 550px;
    height: 110px;
    font-size: 40px;
  }
  .AboutUs__rowFirst {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .AboutUs__rowSecond {
    flex-direction: column;
    align-items: center;
  }
  .AboutUs__block {
    padding-bottom: 70px;
  }
  .AboutUs__block .circle {
    width: 250px;
    height: 250px;
    font-size: 55px;
  }
  .services__block-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .services__block {
    width: 450px;
    margin-bottom: 50px;
  }
  .Product__block-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .Product__block {
    width: 450px;
    margin-bottom: 50px;
  }
}
@media (max-width: 660px) {
  ul {
    display: none;
  }
  nav {
    height: 10vh;
  }
  .section-text {
    height: 90vh;
  }
  .logo {
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 560px) {
  .section-text h1 {
    width: 500px;
    height: 100px;
    font-size: 35px;
  }
}
@media (max-width: 520px) {
  .section-text h1 {
    width: 400px;
    height: 80px;
    font-size: 30px;
  }
  .AboutUs__block .circle {
    width: 210px;
    height: 210px;
    font-size: 55px;
  }
  .services__block {
    width: 380px;
    margin-bottom: 50px;
  }
  .Product__block {
    width: 380px;
    margin-bottom: 50px;
  }
  main h1 {
    font-size: 40px;
    width: 300px;
  }
}
@media (max-width: 420px) {
  .AboutUs__block {
    width: 300px;
  }
  .AboutUs__block .circle {
    width: 190px;
    height: 190px;
    font-size: 52px;
  }
  .services__block {
    width: 350px;
    margin-bottom: 50px;
  }
  .Product__block {
    width: 350px;
    margin-bottom: 50px;
  }
  main h1 {
    font-size: 40px;
    width: 300px;
  }
}
@media (max-width: 400px) {
  .section-text h1 {
    width: 330px;
    height: 70px;
    font-size: 25px;
  }
  .services__block {
    width: 320px;
    margin-bottom: 50px;
  }
  .Product__block {
    width: 320px;
    margin-bottom: 50px;
  }
  .AboutUs__block .circle {
    width: 150px;
    height: 150px;
    font-size: 52px;
  }
  main h1 {
    font-size: 40px;
    width: 300px;
  }
  .slider-section h2 {
    font-size: 35px;
  }
  .slider-section p {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .services__block {
    width: 280px;
    margin-bottom: 50px;
  }
  .Product__block {
    width: 280px;
    margin-bottom: 50px;
  }
  .section-text h1 {
    width: 300px;
    height: 60px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
