@media (max-width: 1300px){
    .services{
        &__block{
            width: 320px;
            height: 600px;
        }
    }

    .Product{
        &__block{
            width: 320px;
            height: 600px; 
        }
    }
}


@media (max-width: 1200px) {
    nav{
        flex-direction: column;
        height: $navbarHeight15vh;
    }

    .section-text{
        height: 85vh;
    }

    .AboutUs__block{
        .circle{
            width: 180px;
            height: 180px;

            font-size: 50px;
        }
    }
}

@media (max-width: 1050px) {
    .AboutUs__block{
        .circle{
            width: 150px;
            height: 150px;

            font-size: 45px;
        }
    }

    .services{
        &__block{
            width: 270px;
            height: 600px;
        }
    }

    .Product{
        &__block{
            width: 270px;
            height: 600px; 
        }
    }

    .slider-section{
        h2{
            font-size: 40px;
        }
    
        p{ 
            font-size: 22px;
        }
    }

    #order-section{
        flex-direction: column;

        .order-form{
            width: 100%;
        }

        .order-text{
            display: none;
        }
    }
}

@media (max-width: 890px) {
    a{
        font-size: 15px;
    }

    .logo{
        width: 250px;
        height: 40px;
    }

    .section-text{
        h1{
            width: 550px;
            height: 110px;

            font-size: 40px;
        }
    }

    .AboutUs__rowFirst{
        flex-direction: column;
        align-items: center;

        margin-bottom: 0;
    }

    .AboutUs__rowSecond{
        flex-direction: column;
        align-items: center;
    }

    .AboutUs__block{
        padding-bottom: 70px;

        .circle{
            width: 250px;
            height: 250px;

            font-size: 55px;
        }
    }

    .services__block-section{
        flex-direction: column;
        align-items: center;

        margin-bottom: 0;
    }

    .services__block{
        width: 450px;
        margin-bottom: 50px;
    }

    .Product__block-section{
        flex-direction: column;
        align-items: center;

        margin-bottom: 0;
    }
  
    .Product__block{
        width: 450px;
        margin-bottom: 50px;
    }
}

@media (max-width: 660px) {
    ul{
        display: none;
    }

    nav{
        height: 10vh;
    }

    .section-text{
        height: 90vh;
    }
    
    .logo{
        width: 300px;
        height: 50px;
    }
}

@media (max-width: 560px){
    .section-text{
        h1{
            width: 500px;
            height: 100px;

            font-size: 35px;
        }
    }
}

@media (max-width: 520px){
    .section-text{
        h1{
            width: 400px;
            height: 80px;

            font-size: 30px;
        }
    }

    .AboutUs__block{
        .circle{
            width: 210px;
            height: 210px;

            font-size: 55px;
        }
    }

    .services__block{
        width: 380px;
        margin-bottom: 50px;
    }

    .Product__block{
        width: 380px;
        margin-bottom: 50px;
    }

    main{
        h1{
            font-size: 40px;
            width: 300px;
        }
    }
}

@media (max-width: 420px){
    .section-text{
        h1{
            width: 320px;
            height: 70px;

            font-size: 25px;
        }
    }

    .AboutUs__block{
        width: 300px;

        .circle{
            width: 190px;
            height: 190px;

            font-size: 52px;
        }
    }

    .services__block{
        width: 350px;
        margin-bottom: 50px;
    }

    .Product__block{
        width: 350px;
        margin-bottom: 50px;
    }

    main{
        h1{
            font-size: 40px;
            width: 300px;
        }
    }
}

@media (max-width: 400px){
    .services__block{
        width: 320px;
        margin-bottom: 50px;
    }

    .Product__block{
        width: 320px;
        margin-bottom: 50px;
    }

    .AboutUs__block{
        .circle{
            width: 150px;
            height: 150px;

            font-size: 52px;
        }
    }

    main{
        h1{
            font-size: 40px;
            width: 300px;
        }
    }

    .slider-section{
        h2{
            font-size: 35px;
        }
    
        p{ 
            font-size: 15px;
        }
    }
}

@media (max-width: 350px){
    .services__block{
        width: 280px;
        margin-bottom: 50px;
    }

    .Product__block{
        width: 280px;
        margin-bottom: 50px;
    }

    .section-text{
        h1{
            width: 300px;
            height: 60px;

            font-size: 22px;
        }
    }
}