$navbarHeight: 10vh;

$height100: 100vh;

$textHeaderHeight: ($height100 - $navbarHeight);

$paddingNavText: 0 30px;

//media
$navbarHeight15vh: 20vh;
$textHeaderHeightAdaptive: ($height100 - $navbarHeight15vh);
