nav{
    width: 100%;
    height: $navbarHeight;

    display: flex;

    justify-content: space-around;
    align-items: center;

    background: rgba($color: #000000, $alpha: 0.5);

    z-index: 100;

    li{
        padding: $paddingNavText;

        a:hover{
            border-bottom: 2px solid green;
        }
    }
}

a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.logo{
    width: 300px;
    height: 50px;
}