.AboutUs{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
}

.AboutUs__block{
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle{
        width: 200px;
        height: 200px;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 100%;
        border: 5px solid green; 
        background: rgb(246, 245, 245);

        color: green;
        font-size: 60px;
    }

    h2{
        padding-top: 50px;
        text-align: center;
    }
}

